@inject RestaurantService RestaurantService

<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            @if (Restaurants != null && Restaurants.Any())
            {
                @foreach (var restaurant in Restaurants)
                {
                    @if (SelectedRestaurant == restaurant)
                    {
                        <li class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center"
                            @onclick="() => SelectedRestaurant = restaurant">
                            @restaurant?.Name
                            @if (restaurant?.Type != null)
                            {
                                <div>
                                    @foreach (var type in restaurant.Type)
                                    {
                                        <span class="badge rounded-pill bg-primary">
                                            @type
                                        </span>
                                    }
                                </div>
                            }
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                            @onclick="() => SelectedRestaurant = restaurant">
                            @restaurant?.Name
                            @if (restaurant?.Type != null)
                            {
                                <div>
                                    @foreach (var type in restaurant.Type)
                                    {
                                        <span class="badge rounded-pill bg-primary">
                                            @type
                                        </span>
                                    }
                                </div>
                            }
                        </li>
                    }
                }
            }
        </ul>
    </div>
    @if (SelectedRestaurant != null)
    {
        <div class="col-md-6">
            <RestaurantDetails SelectedRestaurant="SelectedRestaurant"></RestaurantDetails>
        </div>
    }
</div>

@code
{
    private IEnumerable<Restaurant?>? Restaurants { get; set; }
    private Restaurant? SelectedRestaurant { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Restaurants = await RestaurantService.GetAllRestaurants();
        if (Restaurants != null) SelectedRestaurant = Restaurants.FirstOrDefault();
    }
}